<div class="row">
    <div class="col-6 col md-10 col-xl-10 col-sm-10 col-lg-12">
            <h1>Tú música en un sólo lugar</h1>
            <div class="input-group mb-3 input-group-lg">
                    <div class="input-group-prepend">
                            <i class="material-icons input-group-text" id="basic-addon1">search</i>
                            <input #caracter type="search" class="form-control" placeholder="Ejemplo: Oasis "  (keyup)="Buscar(caracter.value)">
                    </div>
            </div>
    </div>
</div>
