<div class="config">
    <div class="dropdown pull-xs-right">
        <label class="companion" for="Tool" [ngSwitch]="list">Mostrar

          <i class="material-icons" *ngSwitchCase="true">
              view_headline
          </i>
          <i class="material-icons" *ngSwitchCase="false">
              grid_on
          </i>
          <i *ngSwitchDefault>
              grid_on
          </i>

        </label>
        <button #Tool class="btn bmd-btn-icon dropdown-toggle btn-spotify" type="button" id="lr1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons">more_vert</i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="lr1">
          <button class="dropdown-item" type="button" (click)="list = false"> 
            <i class="material-icons">grid_on</i> Grid
          </button>
          <button class="dropdown-item" type="button" (click)="list = true">
              <i class="material-icons">view_headline</i> Lista
          </button>
        </div>
    </div>
</div>
<div class="card-columns" [ngClass]="{'list': list}" >
    
  
    <div class="card" [ngClass]="list ? 'animated slideInLeft': 'animated zoomIn'" *ngFor="let item of albumi" (click)="verAlbum(item.id ? item.id : item.album.id)">
      <img class="card-img-top" [src]="item | noimage" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ item.name ? item.name : item.album.name }}</h5>
        <ng-container *ngIf="item.album">
            <label class="artist" *ngFor="let artistas of item.album.artists">{{artistas.name}}</label>
        </ng-container>
        
        <label class="artist" *ngFor="let artistas of item.artists">{{ artistas.name ? artistas.name : artistas.album.name }}</label>
      </div>
    </div>
</div>
